version: '3.8'

services:
  db_service:
    image: mongo:7
    container_name: hrone_mongodb
    ports:
      - "27017:27017"
    env_file:
      - .env
    volumes:
      - mongodb_data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 
    env_file: 
      - .env
    volumes: 
      - ./backend/src:/app/src
    depends_on:
      - db_service

volumes:
  mongodb_data: